<div class="row">
  <div class="col-md-9 offset-md-2">
    <h1 class="display-6" style="color: #200a49bd; font-weight: 700">Submit Payment</h1>
    <p class="lead fs-6">
      <small
        >To submit an SEC Filing Fee payment using ACH, Credit or Debit Card. enter the below information and click NEXT.You will then
        verify your CIK and contact information before selecting a payment type and entering your payment information</small
      >
      <br /><br />
      <small
        >Please note:ACH payments take 1-3 business days before being reflected in EDGAR.Credit and Debit Card transactions will appear in
        EDGAR in [TBD] hours</small
      >
    </p>

    <p class="p-3 text-center bg-info lh-1 fs-4">Confirm the information</p>
  </div>

  <div class="col-md-9 p-5 h-100 offset-md-2 bg-light d-flex justify-content-center">
    <div class="card w-50 float-center">
      <div class="card-body">
        <h5 class="card-title fs-3 fw-bold">Processing payment</h5>
        <hr />
        <br />
        <p class="card-text fw-light">
          The Credit/Debit Card payment has been processed<br />
          Your payment should be visible in EDGAR within the next 15 minutes
        </p>

        <p class="card-text fw-light">
          Transaction ID: {{ payment.transactionID }}<br />
          Transaction Amount: {{ paymentAmounts }}
        </p>

        <p class="card-text fw-light">An email confirmation will be sent to you shortly</p>
        <a class="btn float-end btn-info px-5 py-2" routerLink="/payment/new">Close</a>
        <!-- <button  class="btn float-end btn-info px-5 py-2 " type="submit" (click)="send()">Complate</button>   -->
      </div>
    </div>
  </div>
</div>
